# Jetbrains IDE config files.
.idea/

ocm
reva/
core
temp
rd-sram
owncloud
nextcloud
oc-sciencemesh
nc-sciencemesh
solid-nextcloud
oc-opencloudmesh
rd-sram-integration
oc-sciencemesh-release
nc-sciencemesh-release
